  <!-- Header -->
  <div class="header">
    <div class="container">
      <div class="header-left"><a href="javascript:void(0);"><img src="assets/images/left-arrow.png" alt="Arrow" width="33" height="29"></a></div>
      <div class="header-title">
        شري وربح
      </div>
    </div>
  </div>

  <!-- Duration -->
  <div class="duration">
    <div class="duration-header">
      <div class="container">
        <a href="javascript:void(0);">2023 | يناير - فبراير - مارس</a>
      </div>
    </div>
    <div class="duration-content">
      <div class="container">
        <ul class="nav nav-pills mb-3 p-0" id="pills-tab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="march" data-bs-toggle="pill" data-bs-target="#march-pill" type="button" role="tab" aria-controls="march-pill" aria-selected="true">يناير</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="february" data-bs-toggle="pill" data-bs-target="#february-pill" type="button" role="tab" aria-controls="february-pill" aria-selected="false">فبراير</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="january" data-bs-toggle="pill" data-bs-target="#january-pill" type="button" role="tab" aria-controls="january-pill" aria-selected="false">مارس</button>
          </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade" id="march-pill" role="tabpanel" aria-labelledby="march">
            <div class="row gx-5">
              <div class="col-4">
                <div class="row gy-2">
                  <div class="col-6">
                    <span class="badge"><img src="assets/images/right.svg" alt="Right"></span>
                  </div>
                  <div class="col-6">
                    <span class="badge"><img src="assets/images/right.svg" alt="Right"></span>
                  </div>
                  <div class="col-6">
                    <span class="badge"><img src="assets/images/right.svg" alt="Right"></span>
                  </div>
                  <div class="col-6">
                    <span class="badge"><img src="assets/images/right.svg" alt="Right"></span>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="row gy-2">
                  <div class="col-6">
                    <span class="badge"><img src="assets/images/right.svg" alt="Right"></span>
                  </div>
                  <div class="col-6">
                    <span class="badge"><img src="assets/images/close.svg" alt="Close"></span>
                  </div>
                  <div class="col-6">
                    <span class="badge"></span>
                  </div>
                  <div class="col-6">
                    <span class="badge"></span>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="row gy-2">
                  <div class="col-6">
                    <span class="badge"></span>
                  </div>
                  <div class="col-6">
                    <span class="badge"></span>
                  </div>
                  <div class="col-6">
                    <span class="badge"></span>
                  </div>
                  <div class="col-6">
                    <span class="badge"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade show active" id="february-pill" role="tabpanel" aria-labelledby="february">
            <div class="row gx-5">
              <div class="col-4">
                <div class="row gy-2">
                  <div class="col-6">
                    <span class="badge"><img src="assets/images/right.svg" alt="Right"></span>
                  </div>
                  <div class="col-6">
                    <span class="badge"><img src="assets/images/right.svg" alt="Right"></span>
                  </div>
                  <div class="col-6">
                    <span class="badge"><img src="assets/images/right.svg" alt="Right"></span>
                  </div>
                  <div class="col-6">
                    <span class="badge"><img src="assets/images/right.svg" alt="Right"></span>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="row gy-2">
                  <div class="col-6">
                    <span class="badge"><img src="assets/images/right.svg" alt="Right"></span>
                  </div>
                  <div class="col-6">
                    <span class="badge"><img src="assets/images/close.svg" alt="Close"></span>
                  </div>
                  <div class="col-6">
                    <span class="badge"></span>
                  </div>
                  <div class="col-6">
                    <span class="badge"></span>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="row gy-2">
                  <div class="col-6">
                    <span class="badge"></span>
                  </div>
                  <div class="col-6">
                    <span class="badge"></span>
                  </div>
                  <div class="col-6">
                    <span class="badge"></span>
                  </div>
                  <div class="col-6">
                    <span class="badge"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="january-pill" role="tabpanel" aria-labelledby="january">
            <div class="row gx-5">
              <div class="col-4">
                <div class="row gy-2">
                  <div class="col-6">
                    <span class="badge"><img src="assets/images/right.svg" alt="Right"></span>
                  </div>
                  <div class="col-6">
                    <span class="badge"><img src="assets/images/right.svg" alt="Right"></span>
                  </div>
                  <div class="col-6">
                    <span class="badge"><img src="assets/images/right.svg" alt="Right"></span>
                  </div>
                  <div class="col-6">
                    <span class="badge"><img src="assets/images/right.svg" alt="Right"></span>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="row gy-2">
                  <div class="col-6">
                    <span class="badge"><img src="assets/images/right.svg" alt="Right"></span>
                  </div>
                  <div class="col-6">
                    <span class="badge"><img src="assets/images/close.svg" alt="Close"></span>
                  </div>
                  <div class="col-6">
                    <span class="badge"></span>
                  </div>
                  <div class="col-6">
                    <span class="badge"></span>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="row gy-2">
                  <div class="col-6">
                    <span class="badge"></span>
                  </div>
                  <div class="col-6">
                    <span class="badge"></span>
                  </div>
                  <div class="col-6">
                    <span class="badge"></span>
                  </div>
                  <div class="col-6">
                    <span class="badge"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--White Box -->
  <div class="white-box">
    <div class="step">
      <div class="container">
        <hr class="top-border-lg">
        <h2>ليكوموند لي درت فالشهر <br>  تطبيق <b> عبرشري وربح</b>
          <br> <span> شهر فبراير</span></h2>
        <ul class="nav p-0">
          <li><a href="javascript:void(0);"><span class="badge"><img src="assets/images/right.svg" alt="Right"></span> <h3>الأسبوع 1</h3></a></li>
          <li><a href="javascript:void(0);"><span class="badge"><img src="assets/images/close.svg" alt="Close"></span> <h3>الأسبوع 2</h3></a></li>
          <li><a href="javascript:void(0);"><span class="badge"></span> <h3>الأسبوع 3</h3></a></li>
          <li><a href="javascript:void(0);"><span class="badge"></span> <h3>الأسبوع 4</h3></a></li>
        </ul>
      </div>
    </div>
    <div class="city">
      <div class="container">
        <hr class="top-border-md">
        <h2>المبلغ لي دوزت <b>فشري وربح </b><br>هاد الشهر</h2>
        <h3>20,300 درهم</h3>
        <hr class="top-border-lg mb-0">
      </div>
    </div>
    <div class="bonus">
      <h2><span>المكافأة </span>(كل 3 أشهر)</h2>
      <span>شرط ديرو جميع ليكوموند</span>
    </div>
      <!-- Profit -->
    <div class="profit">
      <div class="duration-header profit-header">
        <div class="container">
          <a href="javascript:void(0);"><span class="d-flex flex-column"> <h3>100 درهم</h3> <span>20,300 درهم مشتريات</span></span></a>
        </div>
      </div>
      <div class="profit-content">
        <div class="container">
          <table class="w-100">
            <thead>
              <tr>
                <th>يناير</th>
                <th>المشتريات</th>
                <th >الربحة</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>يناير</td>
                <td><b>20,000</b></td>
                <td style="font-weight: 700">100</td>
              </tr>
              <tr>
                <td>فبراير</td>
                <td><img src="assets/images/close.svg" alt="Close"></td>
                <td><img src="assets/images/close.svg" alt="Close"></td>
              </tr>
              <tr>
                <td>مارس</td>
                <td>-</td>
                <td>-</td>
              </tr>
              <tr>
                <td>المجموع</td>
                <td>-</td>
                <td style="font-weight: 700">200</td>
              </tr>
              <tr align="center" class="total"><td colspan="3">( الربحة  =  المشتريات      %0.5 )</td></tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="btn-wrap text-center">
      <a href="javascript:void(0);" class="btn"><img src="assets/images/cart.png" alt="Cart" width="38" height="38">ندوز لا كوموند</a>
    </div>
  </div>    